%span= auto_link(tweet['text'])
%time{ :datetime => Time.parse(tweet['created_at']).strftime("%Y-%m-%dT%H:%M:%SZ+00:00") }
  = Time.parse(tweet['created_at']).strftime("%e %b %Y, %l:%M %P").strip.gsub(/\s+/, "&nbsp;")
